
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar`
!**/src/main/**/build/
!**/src/test/**/build/`

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 안전한 배포를 위한 ignore
**/event-hub/event-hub-app-config.json
event-hub/event-hub-app-config.json
**/ms-sql-config.json
ms-sql-config.json
**/persistence.xml
persistence.xml
**/application.yml
application.yml