.loginInnerBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.githubIconBox{
  border: solid 3px #c0bfbf;
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
}
.logoutBox{
  cursor: pointer;
}
.SEED {
  color : #ef8156 !important;
}
.SPROUT {
  color : #ef8156 !important;
}
.FLOWER {
  color : #ef8156
}
.FRUIT {
  color : #ef8156
}
