.github-webhook-scope{
  display: inline-block;
  background: transparent;
  border: 2px solid #66615B !important;
  color: #66615B;
  opacity: 1;
  border-radius: 30px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 5px
}
