<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
codingTime : <p th:text="${mainCycleTimeResponse.averageCycleTime.codingTime}"></p>
pickupTime : <p th:text="${mainCycleTimeResponse.averageCycleTime.pickupTime}"></p>
reviewTime : <p th:text="${mainCycleTimeResponse.averageCycleTime.reviewTime}"></p>
deploymentTime : <p th:text="${mainCycleTimeResponse.averageCycleTime.deploymentTime}"></p>
</body>
</html>
